<h2><%=@user.name%> Posts</h2>
<div class='user'>
  <div class='img-container'>
  <img src=<%@user.photo%> alt="Profile"/>
  </div>
  <div class='user-infos'>
    <h3><%=@user.name%></h3>
    <p>Number of Posts : <%=@user.posts_counter or 0%></p>
  </div>
</div>
<div class='bio'>
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <ul class='post'>
    <% @user.most_recent_posts.each do |post| %>
      <a href="/users/<%= @user.id %>/posts/<%= post.id %> ">
        <%=  render 'partials/post', post: post %>
      </a>
    <% end %>
  </ul>
</div>
